<div>
    <h1>Корзина</h1>
    <h2>Ваш заказ: <strong>Итого к оплате</strong> </h2>
    <div>
        <div class="form-floating mb-3">

            <div>
                
            </div>

            <div class="justify-content-end d-flex me-1">
                <a class="btn" style="background-color:#E5007E; color:white; border-radius:10px;">
                    Оформить заказ
                </a>
            </div>
        </div>
    </div>
</div>
