@{
    ViewData["Title"] = "О Компании";

}
<div class="m-3">
    <div class="row justify-content-center">
        <div class="text-center h2 col-12 my-5">
            О компании
        </div>

        <div class="col-12 col-md-5">
            <img class="img-fluid" src="~/компания.jpg" />
        </div>
        <div class=" col-12 col-md-7 fs-5">
            Добро пожаловать в нашу компанию, где ваша технологическая мечта становится реальностью!
            Мы гордимся тем, что предлагаем широкий ассортимент современной электроники, который удовлетворит все ваши потребности. Наш магазин является идеальным местом для всех электронных энтузиастов, от любителей гаджетов до профессиональных пользователей.
            У нас вы найдете все, что нужно для своего дома, офиса или развлечений. Наша команда профессионалов всегда готова предоставить вам экспертную консультацию и помочь вам выбрать наиболее подходящие товары, отвечающие вашим потребностям и бюджету.
            Мы сотрудничаем с ведущими производителями электроники, чтобы предложить вам только самые качественные и надежные товары. Мы постоянно обновляем наш ассортимент, следя за последними трендами и инновациями в мире электроники. Вам не придется искать долго, чтобы найти то, что именно вам нужно.
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="text-center h2 col-12 my-5">
            Наши магазины
        </div>

        <div class="modal-content ">
            <img  src="~/карта.jpg" />
        </div>
    </div>
    
</div>