@{
    ViewData["Title"] = "Home Page";
}
<div style="overflow-x:hidden;" >
    <div class="position-absolute text-white fs-1" style="padding-left: 100px; padding-top:140px;">
        <h1>Покупайте электронику <br /> по выгодным ценам</h1>
        <a class="btn" style="background-color:#E5007E; color:white; border-radius:10px;">Перейти в каталог</a>
    </div>

    <img  class="object-fit-cover" src="~/хедер.jpg" />

</div>
<div class="c-container" style="margin-left:6rem; margin-right:6rem;">
   
    
    <div>
        <h2 class="d-flex justify-content-center" style="margin-top:100px; margin-bottom:100px;">
            Каталог
        </h2>
        <div class="row ">

            <div class="col-4 " style="text-align:center;">
                <a href="#" style="text-decoration:none; color:black;" class="fs-3">
                    <div style="height:200px;">
                        <img src="~/tv.jpg"  />
                    </div>
                    Телевизоры
                </a>
                
                
            </div>
            <div class="col-4" style="text-align:center;">
                <a href="#" style="text-decoration:none; color:black;" class="fs-3">
                    <div>
                        <img src="~/phone.jpg" style="height:200px;" />
                    </div>
                    Смартфоны
                </a>
               
            </div>
            <div class="col-4 " style="text-align:center;">
                <a href="#" style="text-decoration:none; color:black;" class="fs-3">
                    <div>
                        <img src="~/earphones.jpg" style="height:200px;" />
                    </div>
                    Наушники
                </a>
                
            </div>
        </div>
    </div>
    <div>
        <h2 class="d-flex justify-content-center" style="margin-top:100px; margin-bottom:100px;">
            О компании
        </h2>
        <div class="row">
            <div class="col-5 ">
                <img src="~/компания.jpg" />
            </div>
       <div class="col-7 " style="font-size: 18px;">
            Добро пожаловать в нашу компанию, где ваша технологическая мечта становится реальностью!
            Мы гордимся тем, что предлагаем широкий ассортимент современной электроники, который удовлетворит все ваши потребности. Наш магазин является идеальным местом для всех электронных энтузиастов, от любителей гаджетов до профессиональных пользователей.
            У нас вы найдете все, что нужно для своего дома, офиса или развлечений. Наша команда профессионалов всегда готова предоставить вам экспертную консультацию и помочь вам выбрать наиболее подходящие товары, отвечающие вашим потребностям и бюджету.
            Мы сотрудничаем с ведущими производителями электроники, чтобы предложить вам только самые качественные и надежные товары. Мы постоянно обновляем наш ассортимент, следя за последними трендами и инновациями в мире электроники. Вам не придется искать долго, чтобы найти то, что именно вам нужно.
       </div>
        </div>
    </div>
</div>

