@using ElectronicMarket.Domain.Models.Shop;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";

}

<div>
    <h2 class="d-flex justify-content-center" style="margin-top:100px; margin-bottom:100px;">
        Каталог
    </h2>
    <div class="row">
        <div>

            <div class="row justify-content-center">
                @foreach (var product in Model)
                {
                    <div class="shadow p-3 mb-5 bg-body rounded col-2">
                        <div style="text-align:center;">
                            <img class="img-fluid" width="190px" src="@product.ImgUrl" />
                        </div>
                        <div class="text-center ">
                            <form asp-controller="Cart" asp-action="AddItem" asp-route-productId="@product.Id">
                                <button >
                                    <i class="bi bi-bag-plus-fill text-primary"></i>
                                    @product.Price руб.
                                </button>
                            </form>
                           

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</div>

