@using ElectronicMarket.Domain.Models.Shop;

@{
    ViewData["Title"] = "Home Page";
   
}

<div>
    <h2 class="d-flex justify-content-center" style="margin-top:100px; margin-bottom:100px;">
        Каталог
    </h2>
     <div class="row">
        <div >

             <a href="#"></a>
         </div>
     </div>
    
</div> 